  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*  */
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior:smooth;
  }
  body{
     font-family: 'Poppins',sans-serif !important;
      position: relative;
       }
       .topCar{
        position:fixed;
        bottom: 5rem;
        right: 2rem;
        display: flex;
        flex-direction: column;
    gap:1rem;
       }
     
       .topCar div{
color: var(--main-color);
background-color: white;
box-shadow: 0 0 8px rgba(0,0,0,.2);
font-size: 2rem;
line-height: 4rem;
right: 2rem;
display: none;
z-index: 1000;
width: 4rem;
text-align: center;
border-radius: 2rem;
cursor: pointer;
       }
       .topCar div.active{
        display: block;
       animation: BtnAnime1 4s ease; 
       }
       .topCar div:nth-child(1){
        animation: BtnAnime3 3s ease infinite; 
       }
       .topCar div:nth-child(2){
        animation: BtnAnime2 3s ease infinite;   
          }
          .topCar div:hover{
            background: var(--main-color);
            color: white;
            transition: all 1s ease;
      }
       @keyframes BtnAnime3 {
        0%{
          transform: translateY(0);
      }
     
      50%{
          transform: translateY(-10px);
  
      }   
       }   
       @keyframes BtnAnime2{
        0%{
            transform: translateY(0);
        }
       
        50%{
            transform: translateY(10px);
    
        }
    }
    @keyframes BtnAnime1{
        0%{
            opacity:0;
        }
        50%{
            opacity:0.5
        }
    }
       
  :root{
    --main-color:rgb(39, 174, 96);
  }
h1{
    font-size: 5.6rem;
}
h2{
    font-size: 4.5rem;
}
h3{
    font-size: 4rem;
}
h4{
    font-size: 3.5rem;
}
h5{
    font-size: 3rem;
}
h6{
    font-size: 2.5rem;
}
p{
  font-size: 2rem;
}
  a{
    text-decoration: none;
    color:black;
font-size: 2.3rem;
  }
 li{
    list-style: none;
  }
 .btn
{
	
	display: inline-block;
	font-size: 1.7rem;
	color: var(--main-color);
	border: .1rem dotted var(--main-color);
	background:white;
	cursor: pointer;
	padding: .8rem 3rem;
	position: relative;
	overflow: hidden;
	z-index: 1;
  border-radius: .5rem;
}
.btn:before
{
	content: '';
	width: 100%;
	height: 100%;
	background: var(--main-color);
	z-index: -1;
	position: absolute;
	top: 0;
	left: -100%;
	transition: .5s;
}
.btn:hover{
  border:.1rem solid var(--main-color);
  color: white;
  transition: all .5s ease;
}
.btn:hover:before
{
	left: 0;
}

/*  */




/* navbar */
nav{
    display: flex;
    align-items: center;
 padding: 2rem 3%;
 height: 10vh;
 right: 0;
 top: 0;
 left: 0;
 bottom: 0;
justify-content: space-between;
z-index: 1000;
z-index: 1000;
box-shadow: 2px 2px 8px rgba(0,0,0,.2);
  }
 nav.active{
 position: fixed;
 background-color: #eeeeee;
    padding: 1.5rem initial;
    height: 7vh;
    transition: all 2s ease-out;

  }


  nav .LinkContainer{
    display: flex;
align-items: center;
gap:1rem;
  }
  nav .LinkContainer a{
padding: .5rem 1rem;
font-size: 1.8rem;
border-radius:.6rem;

  }
  nav .LinkContainer a.active{
    background: var(--main-color);
    color:white;
  }
  nav .LinkContainer a:hover,nav .icons > div:hover
  {
    background: var(--main-color);
    color:white;
    transition: all .5s ease;
  }

nav .icons > div{
    font-size: 2rem;
    line-height: 4rem;
    width: 4rem;text-align: center;
    cursor: pointer;
background-color: rgba(0,0,0,.1);
border-radius: 2rem;
margin: 0 .2rem;
transform: rotate(0);
}
nav .icons > div.fa-bars{
    display: none;
}
/* homeHero */
.homeHero{
padding: 2rem 6%;
  display: flex;
width: 100%;
  background-color: #eaf5ff;
overflow: hidden;
justify-content: center;
align-items: center;
}
.homeHero .content{
  flex: 1 1 55%;

}
.homeHero .content h1{
  text-transform: capitalize;
  text-shadow: 0px 0px 8px rgb(0, 0, 0,.5);
  padding:1rem 0 1.5rem;  
  animation: slideInRight 1s linear 2s backwards;
}
.homeHero .content p:nth-child(1){
  animation: slideInRight 1s linear 1s backwards;
}

.homeHero .content button{
  animation: slideInRight 1s linear 4s backwards;
}
.homeHero .image{
  flex: 1 1 45%;cursor: pointer;
  animation: slideInLeft 1s linear 1s backwards;
}

@keyframes slideInLeft {
  0%{
    opacity: 0;
    transform: translateX(10rem);
  }
}
@keyframes slideInRight {
  0%{
    opacity: 0;
    transform: translateX(-10rem);
  }
}
.homeHero .image:hover img{
  animation:carAnimate 2s linear;
}
@keyframes carAnimate {
  0%{
    transform: scale(1);
  }
  70%{
    transform: scale(0.6);
  }
  95%{
    transform: scale(1.3);

  }
  100%{
    transform: scale(1);

  }
}
.homeHero .image img{
  height: 70vh;
  width: 100%;
  object-fit:scale-down;
  object-position: center;
}

/* about US */
.aboutMain{
  position: relative;
}
.aboutMain .image img{
  height: 70vh;
  width: 100%;
  object-fit: cover;
}
  .aboutMain .content::after{
  content: '';
  position: absolute;
  height: 3rem;
  width: 3rem;
  border-bottom: .7rem solid var(--main-color);
  border-right:.7rem  solid var(--main-color);
  right: 0rem;
  bottom: 0rem;
}
.aboutMain .content::before{
  content: '';
  position: absolute;
  height: 3rem;
  width: 3rem;
  border-top: .7rem solid var(--main-color);
  border-left: .7rem  solid var(--main-color);
 left: 0rem;
 top: 0rem;
}
.aboutMain .content{
  position: absolute;
  top: 10rem;
  background: rgb(24, 24, 24,.4);
margin: 0 4%;
width: 50%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: start;
border-radius: 2rem;
padding:4rem 2rem 4rem 3rem;
z-index: 100;

}
.aboutMain .content h6{
  font-size: 2rem;
  font-weight: 800;
}
.aboutMain .content p a:nth-child(2){
  color: white;
}
.aboutMain .content p a:hover{
  color: var(--main-color);
  transition: all 1s ease;
}
.aboutMain .content h2{ 
  color:white;
padding: 2rem 0rem 1rem;
}
.aboutMain .content h6{
  padding: .5rem 0 1rem;
  color:#eeeeee;
}
.aboutEmployeees{
  padding: 4rem 6% 3rem;
}
.aboutEmployeees h3{
color:var(--main-color);
text-align: center;
}
.aboutEmployeees .aboutEnginnerContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 3rem 0 1rem;
  gap:  5rem 1.5rem;
}
.aboutEmployeees .aboutEnginnerContainer .aboutEngineer .content{
text-align: center;
padding: 1rem 0 1.5rem;
}
.aboutEmployeees .aboutEnginnerContainer .aboutEngineer .content .btn{
  margin-top: 1rem;
}
.aboutEmployeees .aboutEnginnerContainer .aboutEngineer .content p{
  color: var(--main-color);
  padding: 0.5rem 0 0; 
}
.aboutEmployeees .aboutEnginnerContainer .aboutEngineer{
box-shadow: 0 0 8px rgba(0,0,0,.3);
}
.aboutEmployeees .aboutEnginnerContainer .aboutEngineer .imageSocials{
  position: relative;
  overflow: hidden;
  height: 35rem;
}
.aboutEmployeees .aboutEnginnerContainer .aboutEngineer .imageSocials:before{
  content:'';
  position: absolute;width: inherit;
  height: inherit;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index:100;
  transform: scale(0);
  background: rgba(0,0,0,.6);
transition: all .5s ease;
}

.aboutEmployeees .aboutEnginnerContainer .aboutEngineer:hover .imageSocials:before{
  transform: scale(1);
}
.aboutEmployeees .aboutEnginnerContainer .aboutEngineer:hover .imageSocials .imageAnimate{
bottom:0;
}
.aboutEmployeees .aboutEnginnerContainer .aboutEngineer .imageSocials .imageAnimate{
position: absolute;
bottom: 120%;
display: flex;
align-items: center;
justify-content: center;
height: inherit;
width: 100%;
transition: all 1s ease;
flex-direction: column;
color:white;
z-index: 100;
}
.aboutEmployeees .aboutEnginnerContainer .aboutEngineer .imageSocials .imageAnimate .icons .fab{
  font-size: 4rem;
margin: 1rem 1rem;
cursor: pointer;
}

.aboutEmployeees .aboutEnginnerContainer .aboutEngineer .imageSocials .imageAnimate .icons .fab:hover{
  color:var(--main-color);
  transition:all 1s ease;
}
.aboutEmployeees .aboutEnginnerContainer .aboutEngineer .imageSocials .image img{
   height: 35rem !important;
}
/* end of about us */
/* contact page */
.Contactcontainer{
  height: 90vh;
  width: 100%;
  position: relative;
  align-items: center;
  display: flex;overflow: hidden;
  justify-content: center;
}
.Contactcontainer .contactImage{
position: relative;
}
.Contactcontainer .contactImage::before{
content: '';
position: absolute;
height: inherit;
width: inherit;
background: rgb(0, 0, 0,.2);
}
.Contactcontainer .contactImage{
    height: inherit;
    width: 100%;
}
.Contactcontainer .contactImage img{ 
object-position: center;
height: inherit;
object-fit: cover;
width: 100%;
} 
.Contactcontainer .content form > .btn{
background-color: var(--main-color);
color: white;
}
.Contactcontainer .content{
  position: absolute;
  display: flex;
  gap: 2rem;
  padding: 1rem;
  justify-content: center !important;
  backdrop-filter: blur(2rem);
box-shadow: 0 0 8px rgba(255,255,255,.3);
border-radius: 1rem;
}
.Contactcontainer .content form > *{
  margin: 1rem 0;
}
.Contactcontainer .content form .contactFlex{
display: flex;
gap: 1rem;
}
.Contactcontainer .content form > * input{
    background: transparent;
border: .1rem solid rgba(255, 255, 255, 0.6);
  padding: 1rem;  
  color: white;
border-radius: .4rem;
}
.Contactcontainer .content form > * input::placeholder{
  color: white;
}
.Contactcontainer .content form .contactFlex input{
  width: 25rem;
  font-size: 1.7rem;
}
.Contactcontainer .content form .mail input{
width: 100%; 


}
.Contactcontainer .content form textarea::placeholder{
    font-size: 1.8rem;
    color: white;
}
.Contactcontainer .content form textarea{
  resize: none;
  padding: 1rem;
font-size: 1.9rem;
border: .1rem solid rgba(255, 255, 255, 0.6);
  height: 20rem;color: white;
  display: block;
  border-radius: .4rem;
  width: 100%;
  background: transparent;
}
.Contactcontainer .content .map iframe{
width: 50rem;
height: 40rem;
border-radius: 1rem;
} 

/* coming soon */
.comingSoonContainer .coming-soon{
padding: 2rem 6%;
display: flex;
gap: 2%;
}
.comingSoonContainer h3{
  text-align: center;color: var(--main-color);
}
.coming-soon .soonCar{
  flex:1 1 45%;
}
.coming-soon .soonCar img{
  width: 100%;
  height: 40rem;
  object-fit: scale-down;
}

.coming-soon .clock{
  flex: 1 1 53%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.coming-soon .clock .timing{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap:1rem 2rem ;
  justify-content: center;
}
.coming-soon .clock .timing .box{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 10rem;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
  border-radius: 50%;
}
.coming-soon .clock .timing .box span{
  color:var(--main-color);
  font-size: 1.9rem;
  text-transform: capitalize;
}

/*  */
/* preowned cars */
#preownedCars{
 background-color: #eaf5ff;
padding: 2rem 6%;
  display: flex;
width: 100%;
overflow: hidden;
justify-content: center;
align-items: center;
}
#preownedCars .content{
  flex: 1 1 55%;

}
#preownedCars .image{
  flex: 1 1 45%;
}
#preownedCars .image img{
  height: 70vh;
  width: 100%;
  object-fit:scale-down;
  object-position: center;
}
#preownedCars .content p a:hover{
  color: var(--main-color) !important;
  transition: all 1s ease;
}
#preownedCars .content p a:nth-child(2){
color: #00000052;
}
#preownedCars .content p:nth-child(2){
  text-transform: capitalize;
}
#preownedCars .content h1{
  text-transform: capitalize;
  text-shadow: 0px 0px 8px rgb(0, 0, 0,.5);
  padding:1rem 0 1.5rem;
  }
  #preownedCars .image img{
    animation: slideInUp 2s ease   infinite;
  }
  @keyframes slideInUp {
    0%{
transform: translateX(0);
    }
   
    80%{
      transform: translateY(1.5rem);
    }
  }

  section.preOwned{
    padding: 4rem 6% 2rem;
  }
  section.preOwned h3{
    text-align: center;
    color: var(--main-color);
  }
  
  .preOwned  .preOwnedCars,
  .rangeContainer .rangeCarContainer,
  .brandContainer .brandCarContainer
  {
    display: flex;
    padding: 2rem 0 0;
    flex-wrap: wrap;
    gap: 2rem 1rem;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .rangeContainer .rangeCarContainer,
  .brandContainer .brandCarContainer{
    padding: 1.5rem 0;
  }
  .preOwned  .preOwnedCars .preOwnedCar .btn
  ,.rangeContainer .rangeCarContainer .rangeCar .details .btn,
  .brandContainer .brandCarContainer .brandCar .details .btn{
    padding: .5rem 2rem;
    border-radius: .5rem;
  }
  .preOwned  .preOwnedCars .preOwnedCar,
  .rangeContainer .rangeCarContainer .rangeCar,
  .brandContainer .brandCarContainer .brandCar 
  {
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .preOwned  .preOwnedCars .preOwnedCar .details,
  .rangeContainer .rangeCarContainer .rangeCar .details,
  .brandContainer .brandCarContainer .brandCar .details{
    padding: .5rem  0 1.5rem;
  }
  .preOwned  .preOwnedCars .preOwnedCar .details div{
    font-size: 2rem; 
     color: var(--main-color);    
    padding-bottom:0.5rem;

  }
  .rangeContainer .rangeCarContainer .rangeCar .details p,
  .brandContainer .brandCarContainer .brandCar .details p{
    padding-bottom: .5rem;
  }
  .preOwned  .preOwnedCars .preOwnedCar .details p
{
    padding-bottom:0.9rem;
  }
  .rangeContainer .rangeCarContainer .rangeCar .details p:nth-child(2),
  .brandContainer .brandCarContainer .brandCar .details p:nth-child(2){
    color: var(--main-color) !important;
  }
  .preOwned  .preOwnedCars .preOwnedCar img,
  .rangeContainer .rangeCarContainer .rangeCar img,
  .brandContainer .brandCarContainer .brandCar img
  {
    height: 20rem;
    padding: 1rem;
    width: 27rem;
    object-position: center;
  }
/* end */
/* brands */
#brands,#ranges{
  padding: 3rem 6%;
}
#brands h3,#ranges h3{
  text-align: center;
}
#brands .brandContainer .buttons,
#ranges .rangeContainer .buttons{
display: flex;
width: 100%;
gap:1rem;
padding: 1.6rem 0;
justify-content: center;
}
#brands .brandContainer .buttons .filter-btn,
#ranges .rangeContainer .buttons .filter-btn{
	padding: .8rem 2rem;
  border-radius: .7rem;
}
#brands .brandContainer .buttons .filter-btn:hover,
#ranges .rangeContainer .buttons .filter-btn:hover{
  color: white;
}
#brands .brandContainer .buttons .filter-btn.active,
#ranges .rangeContainer .buttons .filter-btn.active{
background: var(--main-color);
color: white;
}

.rangeCarContainer .rangeCar.active,
.brandCarContainer .brandCar.active{
  animation: fadeUp .4s linear; 
  transition: all 2s ease;
}  
.brandContainer .brandCarContainer .brandCar,
#ranges .rangeContainer .rangeCar{
  position: relative;
  overflow: hidden;
}
.myIcons{
  font-size: 2rem;
   line-height: 4rem !important;
    position: absolute;
    width: 4rem;
    text-align: center;
    border-radius: 100%;
    top: 1.5rem;
    color: white;
    cursor: pointer;
    background: rgb(51, 51, 51,.8);
  transition: all 1s ease;
}
.brandCarContainer .brandCar:hover .myIcons.myIcon1,
#ranges .rangeContainer .rangeCar:hover .myIcons.myIcon1{
left: 2rem;
}
.brandCarContainer .brandCar:hover .myIcons.myIcon2,
#ranges .rangeContainer .rangeCar:hover .myIcons.myIcon2
{
 
right: 2rem;
}
.myIcons:hover{
  background: var(--main-color);
  transition: all 1s ease;
}
.myIcons.myIcon1{
  left: -4rem;
}

.myIcons.myIcon2{
  right: -4rem;
}
@keyframes fadeUp {
  0% {
   transform: translateY(5rem);
    opacity: 0;
  }
}
/* ranges */






























/* footer */
.footer {
  padding: 3rem 1.4%;
  background: rgb(0 , 0 , 0 , .9);
}

.footer-div{
  width: 25%;
  float: left;
  padding: 10px;

}

.footer:after{
  content: "";
  display: table;
  clear: both;
}

.footer .footer-div h2{
  font-size: 2.7rem;
}
.footer .footer-div.main-div h2{
  font-size: 3rem;
  color: #fff;
}

.footer .footer-div.main-div h2>i{
  padding-right: 1.4rem;
  color: rgb(13, 177, 21);
}

.footer .footer-div.main-div p.title{
  font-size: 1.7rem;
  font-weight: 300;
  letter-spacing: 1.2px;
  color: #eee;
}

.footer .footer-div.main-div p.Lorem1{
  font-size: 1.5rem;
  font-weight:300;
  color:rgb(185, 185, 185);
  letter-spacing: 1.3px;
  padding-block: 1.7rem .8rem;
}

.footer .footer-div.main-div p.Lorem2{
  font-size: 1.5rem;
  font-weight:300;
  color:rgb(185, 185, 185);
  letter-spacing: 1.3px;
}


.footer .footer-div.main-div a {
  letter-spacing: 1px;
  font-size: 2rem;
}
.footer .footer-container .footer-div.main-div .socials {
  padding: 1.3rem .5rem;
}

.footer .footer-container.main-div .social-link{
  padding-block: 1.3rem .8rem !important;
}

.footer .footer-container .main-div .social-link > i{
  padding-right: 1.1rem ;
  padding-block: 1.7rem 1.3rem;
  color: rgb(13, 177, 21);
}

.footer .footer-container .main-div a.social-link {
  margin: 2.5rem 0 !important;
  color: #fff;
  /* padding-block: 1.7rem .3rem 0 .8rem; */
}



.footer .footer-container .main-div .social-links > i {
  
  font-size: 2.3rem;
  background: rgb(13, 177, 21);
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  text-align: center;
}

.footer .footer-container .main-div .social-links {
  padding-left: 1rem;
}


.footer .footer-div.info-div{
  padding: 1.4rem 8%;
  flex-basis: 25%;
}

.footer .footer-div.info-div h2{
  line-height: 2;
  letter-spacing: 1px;
  color: #fff;
  /* background: red; */
}

.footer .footer-div.info-div a{
  display: block !important; 
  line-height: 2.5;
  border-width: 2.1px;
  font-size: 1.7rem;
  color: #eee;
}

.footer .footer-div.useful-div h2{
  line-height: 2.3;
  letter-spacing: 1.1px;
  color: #fff;
}


.footer .footer-div.useful-div{
  padding-left: 1.7rem;
}


.footer .footer-div.useful-div a {
  display: block;
  line-height: 2.7;
  font-size: 1.7rem;
  color: #eee !important;
}

.footer .footer-div.contact-div h2 {
  letter-spacing: 1px;
  line-height: 2.3;
  letter-spacing: 1.1px;
  color: #fff;
}


.footer .footer-div.contact-div a {
  display: block ;
  line-height: 2.7;
  font-size: 1.7rem;
  color: #fff;
}

.footer .footer-div.contact-div a>i{
  padding-right: .9rem;
}




.footer .footer-div.contact-div>i{
  color: rgb(13, 177, 21);
  font-size: 2.4rem;
  position: fixed;
  right: 7.6%;
  top: 28.7%;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  background: #181818;
}

.footer .footer-div.contact-div > button {
  width:80%;
  margin-top: 3rem;
  padding: 2rem 9%;
  border: 1px solid rgb(13, 177, 21);
  background: #000000;
  color: white;
  font-weight: 200;
}

.footer .footer-div.contact-div > button:hover{
  border: .1px dashed rgb(13, 177, 21);
  background: #000000;
  color: white;
  transition: .4s ease-in-out;
 
  
}


.footer .footer-div .link_:hover{
  color: rgb(13, 177, 21);
  padding-left: .5rem;
  transition: .8s ease-in-out;
}

.footer .footer-div .social-links>i:hover{
  background: #181818;
  color: rgb(13, 177, 21);
  border: 1px solid rgb(13, 177, 21);
  transition: .2s all ease-in-out;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  padding-left: 1rem;
}

  /* end of footer */






 /* mdqs */

 @media (max-width:1075px) {
 nav .LinkContainer a{
        font-size: 1.6rem;
    }
    .homeHero{
  flex-direction: column;

}
.homeHero  .content{
  padding-top: 2rem;
}
.homeHero .image img{
  height: 60vh;
}
.Contactcontainer .content{
  flex-direction: column;
}
.Contactcontainer .content .map iframe{
height: 30rem;
border-radius: 1rem;
}
.coming-soon .soonCar img{
height: 30rem;
}
.Contactcontainer{
  height: 100vh;
}
#preownedCars{
  flex-direction: column;

}
#preownedCars  .content{
  padding-top: 2rem;
}
#preownedCars .image img{
  height: 60vh;
}
} 

/* responsiveness for nav */
@media(max-width:996px){
    html{
        font-size: 57.5%;
    }
    
   nav .icons div.fa-bars{
    display: inline-block;
         
 }
 /* padding: 4% 2% 4% 3%; */
    nav {
        position: relative;
        padding-left: 6%;
        padding-right: 6%;
      }
    nav .LinkContainer{
        position: absolute;
        top: 100%;
   display: none !important;
 text-align: center;
        justify-content: center;
        flex-direction: column !important;
        width: 40rem;
        gap:2rem 0rem;
        height: 100vh;
        right: -200%;
        box-shadow: 0 0 8px rgba(0,0,0,.2);
    }
    nav .LinkContainer.active{
      right: 0;      transition:2s;
      background: white;
    display: flex !important;
    }
    nav .LinkContainer a{
        width: inherit;
        font-size: 3rem;
    }
    nav .LinkContainer a.active{
      background-color: white;
color: var(--main-color);
      }
      nav .LinkContainer a:hover
      {
        color: var(--main-color);
        background:white;
        transition: all .5s ease;
      }
      .aboutMain .content{
        width: 60%;
      }
      .footer-div{
        width: 100%;
    }
    .footer{
        height: auto;
    }
  
    .footer .footer-div.useful-div{
      width:25%;
    }
  
    .footer .footer-div.info-div{
        padding: .3rem 5%;
        width: 29%;
    }
  
    .footer .footer-div.contact-div{
        width: 45%;
    }
}
/* end */
  @media (max-width:770px) {
    html{
        font-size: 52%;
    } .homeHero .image img{
      height: 40vh;
    }
    .comingSoonContainer .coming-soon{
      flex-direction: column;
    }
    .coming-soon .soonCar img{
    height: 50rem;
    }
    .aboutMain .content{
      width: 80%;
    }
  
  }
  @media (max-width:550px) {
    html{
        font-size: 47%;
    }
    .homeHero .image img{
      height: 40vh;
    }
    .aboutMain .content{
      width: 90%;
       background:hsla(0, 0%, 100%, 0.8);
    }
   
    .aboutMain .content p a:nth-child(2){
      color: var(--main-color);
    }
    .aboutMain .content p a:hover{
      color: var(--main-color);
      transition: all 1s ease;
    }
    .aboutMain .content h2{
      /* width: 60%; */
      color:rgb(0, 0, 0,.8);
    padding: 2rem 0rem 1rem;
    }
    .aboutMain .content h6{
      padding: .5rem 0 1rem;
      color:rgb(0, 0, 0,.6);
    } 
    .footer .footer-div.useful-div{
      width:50%;
      height: auto;
    }

    .footer .footer-div.useful-div h2{
          line-height: 1.3;
    }

    .footer .footer-div.info-div{
        padding: .3rem 5%;
        width: 50%;
    }

    .footer .footer-div.contact-div{
        width: 100%;
        text-align: center;
      }
      
      .footer .footer-div.contact-div>input {
          width: 100%;
          text-align: center;
    }
  }
  @media (max-width:426px) {
    html{
        font-size: 43%;
    }
    .homeHero .image img{
      height: 50vh;
    }
    .aboutMain .content{
      width: 92.5%;
      height: 40vh;
      top: 15rem;
      justify-content: center;
      align-items: start;
border-radius: 2rem;
padding:0 2rem 0 3rem;
    }
    .Contactcontainer .content form .contactFlex input{
      width: 20rem;
      font-size: 1.7rem;
    }
    .Contactcontainer .content .map iframe{
      width: 40rem;
      }
      #brands .brandContainer .buttons .filter-btn{
        padding: .8rem 1rem;
font-size: 2rem;      }
  }